h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 40px 0;
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 5px;
     margin-top: 5px;
}



.display-carros{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.linha-carro{
    display: flex;
    padding: 20px 0 10px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.botoes-linha{
    display: flex;
    gap: 10px;
}

.linha-carro li{
    font-size: 20px;
    font-weight: 600;
}

.divider{
    background-color: #d9d9d9;
    height: 1px;
    width: 100%;
    margin-top: 10px;
}

.titulo-linha{
    border: 1px solid;
    display: flex;
    padding: 20px 0;
}


.marca{
    width: 10%;
    font-weight: 600;
}

.modelo{
    width: 10%;
    font-weight: 600;
}

.descricao{
    width: 50%;
    color:#808080;
}

.valor{
    width: 10%;
    font-weight: 600;
}